.inputs {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 157px;
    display: flex;
    flex-direction: column;
    align-items: center;
     p{
         font-size: 18px;
     }
     button {
        @include buttonstyle;
        margin-top: 10px;
        width: 120px;
    }  
    a {
        text-decoration: none;
        margin-top: 10px;
    }
} 
